* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display:block;
    clear: both;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #F2F2F2;
}

.header, .content-wrapper, .container, .content, .footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}

.header {
    height: 100px;
    background: #191919;
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    position:relative;
}

.footer {
    height: 70px;
    background: #191919;
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.content-wrapper {
    margin: 0 auto;
    flex-direction: column;
    width: 1024px;
}

.container {
    flex-wrap: nowrap;
    background-color: #FFF;
}

.content {
    width: 100%;
    flex-direction: column;
    flex: 1 1 auto;
    order: 0;
    order: 2;
    margin-left: 20px;
}

.sidebar {
    background: #C1C1C1;
    flex: 0 0 auto;
    text-align: center;
    position:relative;
    min-height: 720px;
}

.sidebar1 {
    width: 200px;
    order: 1;
    order: 0;
}

.form_sidebar {
    width: 150px;
    padding: 3px;
    border: 1px
    solid #ccc;
}

.button_sidebar {
    height:30px;
    width:150px;
}


.img_sidebar {
    position:absolute;
    bottom:10px;
    right:50px;

}

.text_head {
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    padding-right: 20px;
}