<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=10">
    <title>Star Wars planets and characters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content-wrapper">
        <header class="header">
            <p style="font-size: 30px; margin: 0; padding: 10px 1em;">Header</p>
        </header>

        <div class="container clearfix">
            <main class="content">
                <p style="text-align: center; font-size: 30px; margin: 0; padding: 1.5em 0;">===Star Wars planets and characters===</p>

                <p>{%- if request.path != "/" %} <h3 style="color:blue;">The planet is {{ addel_planet }}</h3> {% endif %}</p>

                {{var}}
            </main>
            <aside class="sidebar sidebar1">
				<p style="text-align: center;">

                    <form action="/insert" method="POST">
						<p><strong>Select the planet:</strong></p>
						<p><select name="name">
							<option value="https://swapi.dev/api/planets/1/">Tatooine</option>
							<option value="https://swapi.dev/api/planets/2/">Alderaan</option>
							<option value="https://swapi.dev/api/planets/8/">Naboo</option>
							<option value="https://swapi.dev/api/planets/9/">Coruscant</option>
							<option value="https://swapi.dev/api/planets/10/">Kamino</option>
						</select></p>
                        <p><input name="form_input_text" size="20" placeholder="Input URL"></p>
						<p><input type="submit" value="Add/Update"></p>
					</form>

					<form action="/delete" method="POST">
						<p><strong>Select the planet:</strong></p>
						<p><select name="name_delete">
							{{ form_items_for_del }}
						</select></p>
						<p><input type="submit" value="Delete"></p>
					</form>
            </aside>
        </div>

        <footer class="footer">
            <p style="font-size: 30px; margin: 0; padding: 10px 1em;">Footer</p>
        </footer>
    </div>
</body>
</html>