<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>===Star Wars planets and characters===</title>
</head>
<body>
<hr>
    <br>
    <br>

    <h4>===Star Wars planets and characters===</h4>
       {{var}}
<form action="/insert" method="POST">
              <div>
                <label for="user">Name:</label>
                <input name="name" type="text" id="user">
              </div>

              <br>
              <input type="submit" name="submit" value="Submit">
            </form>
    <br>
    <br>
<hr>
</body>
</html>